@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

html body
* {
  font-family: 'Solway', serif;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}